.header {
    padding: 15px 32px;
}

.header__logo-image {
    margin: 0px auto;
    width: 2.5em;
    height: 2.5em;
}

.header__logo-label {
    margin: 0px auto;
    font-weight: 900;
    font-size: 1.5em;
    color: black;
}