@using TvApi
@using TvApi.Entities

@page "/channels/{Id:int}"

@inject MinimalTvApiClient apiClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>@Details?.ToString()</p>
<p>@TvReleases?.ToString()</p>
@code {

    [Parameter]
    public int Id { get; init; }

    public ChannelDetails? Details { get; private set;}
    public TvReleases? TvReleases { get; private set; }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        Details = await apiClient.GetChannelDetailsAsync(Id);
        TvReleases = await apiClient.GetChannelReleasesAsync(Id, 1, DateTimeOffset.Now);
        await base.OnInitializedAsync();
    }
}
