@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}


.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}   

/*.lime-background {
    background-image: url("images/lime-bg-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

.lime-background {
    background-color: #fff;
}