<a @attributes="OutsideAttributes" class="green-transition-link" href="@Url">@ChildContent</a>

@code {
    [Parameter]
    public required RenderFragment ChildContent { get; init; }
    [Parameter]
    public required string Url { get; init; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? OutsideAttributes { get; set; } = null;
}
