.green-transition-link {
    color: #fff;
    display: block;
    text-decoration: none;
    background-color: #00871e;
    box-shadow: 0 2px 1px rgba(78,80,86,.12),0 0 2px rgba(0,0,0,.16);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
}

.green-transition-link:hover {
    background: #1ea63c;
}